bin/
doc/
contrib/
source/src/cip_objects/
!source/src/cip_objects/CMakeLists.txt
.project
.cproject
.settings/
*.*~
*~
CMakeCache.txt
*.patch
.idea/
*.a
*.cmake
Makefile
CMakeFiles
devicedata.h
source/src/ports/POSIX/OpENer
source/cip_objects/
